* {
font-family: 'Helvetica Neue', sans-serif,'Courier New', Courier, monospace;  
color: white;
background-color: black;
}

#body-wrapper{
    display: flex;
    flex-direction: row-reverse;
}

#nav-wrapper{
    padding:5px;
    margin-right: 35px;
}

#profile-div ul{
    list-style-type: none;
    background-color: #202327;
    border-radius: 25px;
}

#profile-div ul h3{
    background-color: #202327;
    border-radius: 25px;

}

#profile-div li{
    padding: 3px;
    background-color: #202327;
    border-radius: 25px;
}

#view-champ{
    font-size: x-large;
    color: #1d9bf0;
    border-radius: 25px;
}

#profile-div a{
    background-color: #202327;
    margin-right: 10px;
    margin-left: -20px;
}

#home-div{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;
}

#home-wrapper{
padding-right: 25px;
}

