* {
font-family: 'Helvetica Neue', sans-serif,'Courier New', Courier, monospace;  
color: white;
background-color: black;
}

#beemo{
    max-width: 50%;
    max-height: 50%;
    margin: auto;
}

#body-wrapper{
    display: flex;
    flex-direction: row-reverse;
}

#nav-wrapper{
    position:relative;
    padding: 5px;
    width: 25%;
    margin-right: 25px;
}

ul{
    padding:10%;
    padding-right: 3px;
}

#profile-div ul{
    list-style-type: none;
    background-color: #202327;
    border-radius: 25px;
    
}

#profile-div ul h3{
    background-color: #202327;
    border-radius: 25px;
}

#profile-div li{
    padding: 3px;
    background-color: #202327;
    border-radius: 25px;
    width: max-content;
    align-content: center;
}

#profile-div a{
    background-color: #202327;
    margin-right: 45px;
}

#view-champ{
    display: flex;
    justify-items: center;
    font-size: x-large;
    color: #1d9bf0;
    width: max-content;
}

#home-div{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;
}

#home-wrapper{
padding-right: 25px;
}

